<!-- Routes option nav -->
<div class="content">
    <div class="nav_content">
        <nav class="nav-options">
            <div class="perfil-item background-white user-data">
                <img src="img/M.png " alt="Foto de perfil">
                <span><%= nombreUsuario %></span>
                <span>Administrador</span>
            </div>
            <div class="nav-option-item">
                <div class="nav-bar-item">
                    <a href="" alt="Usuario">
                        <i class='bx bxs-user'></i> Perfil
                    </a>
                </div>
                <div class="nav-bar-item">
                    <a href="">
                        <i class='bx bxs-bell'></i> Notificaciones
                    </a>
                </div>

            </div>
        </nav>
        <nav class="nav-bar">
            <div class="nav-bar-item">
                <a href="/administrador">Inicio</a>
            </div>
            <div class="nav-bar-item">
                <a href="/administrador/reportes">Reportes</a>
            </div>
            <div class="nav-bar-item">
                <a href="/cerrar_sesion">
                    <i class='bx bxs-exit' ></i> Salir de sistema
                </a>
            </div>
        </nav>
    </div>
 </div>
